.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
}

.puzzle {
  /* background-image: url("../img/nums.png"); */
  width: 100px;
  height: 100px;
  background: red;
  border: 1px solid black;
}

/* .piece0 {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  flex: flex-shrink;
}

.piece1 {
  background-position: 0px -109px;
  background-repeat: no-repeat;
  flex: flex-shrink;
}

.piece2 {
  background-position: 0px -217px;
  background-repeat: no-repeat;
  flex: flex-shrink;
} */
